<main>
  <h1 class="text-center">Photos!</h1>
  <h3 class="text-center">
    from <a href="https://jsonplaceholder.typicode.com/photos?_limit=10" target="_blank">jsonplaceholder.com</a>
  </h3>
  <mat-divider></mat-divider>
  <mat-card *ngFor="let photo of photos">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> ID: {{photo.id}} </mat-card-title>
      <mat-card-subtitle> {{photo.thumbnailUrl}} </mat-card-subtitle>
    </mat-card-header>

    <img [src]="photo.thumbnailUrl" mat-card-image>

    <mat-card-content class="text-center"> {{photo.title}} </mat-card-content>

    <mat-card-actions>
      <a mat-button mat-stroked-button [href]="photo.url" target="_blank"> Show Image </a>
      <button mat-button mat-stroked-button color="primary">
        Some action
      </button>
    </mat-card-actions>
  </mat-card>
</main>
