<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-raised-button mat-button color="primary" routerLink="home">
      Home
    </button>
    <button mat-raised-button mat-button color="primary" routerLink="photos">
      Photos
    </button>
    <button
      *ngIf="isLogged && isAdmin"
      mat-raised-button
      mat-button
      color="primary"
      routerLink="admin"
    >
      Admin
    </button>
    <span class="example-spacer"></span>
    <span *ngIf="!isLogged">
      <button mat-raised-button mat-button color="primary" routerLink="login">
        Log In
      </button>
      <button mat-raised-button mat-button color="primary" routerLink="signup">
        Sign Up
      </button>
    </span>
    <span *ngIf="isLogged">
      <span>Hi {{ userName }} </span>
      <button mat-raised-button mat-button color="primary" (click)="logout()">
        Log Out
      </button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
