<main>
  <mat-card>
    <mat-card-header>
      <mat-card-title style="width:100%" class="text-center"> Sign Up </mat-card-title>
      <mat-card-subtitle style="width:100%" class="text-center"> Create new user </mat-card-subtitle>
    </mat-card-header>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

        <mat-form-field>
          <input matInput placeholder="First name" formControlName="firstname" required>
          <mat-error *ngIf="firstname.invalid && firstname.touched">
            You must have a name.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="lastname" required>
          <mat-error *ngIf="lastname.invalid && lastname.touched">
            You must have a lastname.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="email" placeholder="E-mail" formControlName="email" required>
          <mat-error *ngIf="email.invalid && email.touched">
            Your email is invalid.
          </mat-error>
        </mat-form-field>

        <div formGroupName="passwords">
          <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-hint align="end">Must contain letters, numbers and special characters.</mat-hint>
            <mat-error *ngIf="password.invalid && password.touched">
              Bad password.
            </mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <input matInput type="password" placeholder="Confirm Password" formControlName="confirm_password" required>
            <mat-error *ngIf="password.value != confirm_password.value">
              Passwords doesn't match.
            </mat-error>
          </mat-form-field>
        </div>

        <mat-checkbox formControlName="agree" color="primary">Are you sure?</mat-checkbox>
          
        <mat-card-actions>
          <button mat-button mat-stroked-button color="primary" style="width:100%" type="submit" [disabled]="!signupForm.valid"> Create! </button>
        </mat-card-actions>

    </form>
    
  </mat-card>
</main>